<% content_for :title, 'Монстры' %>
<%= render 'filters' %>
<div class="div-list mob-list">
  <% if @mobs.count > 0 %>
      <% prev_letter = '' %>
      <% @mobs.each_slice((@mobs.count/4.0).ceil) do |mobsSlice| %>
          <div class="div-list-col">
            <% mobsSlice.each_with_index do |mob, idx| %>
                <% letter = mob.name.chars.first.upcase %>
                <% letter = ('A'..'Z').include?(letter) ? letter : '#' %>
                <% if idx == 0 || letter != prev_letter %>
                    <div class="div-list-letter">
                      <%= letter %>
                      <% if idx == 0 && letter == prev_letter %>
                          <span>(продолжение)</span>
                      <% end %>
                    </div>
                <% end %>
                <% prev_letter = letter %>
                <div class="div-list-item <%= mob.mode&Mob::MD_BOSS > 0 ? 'boss' : '' %>">
                  <a href="/mobs/<%= mob.id %>.html"><%= mob.name %></a>
                  <span class="mob-lvl"><%= mob.level %></span>
                </div>
            <% end %>
          </div>
      <% end %>
      <div class="clearfix"></div>
  <% else %>
      <div class="norecords">Нет результатов.</div>
  <% end %>
</div>
