<% if @results[:items].present? || @results[:mobs].present? || @results[:maps].present? || @results[:npcs].present? %>
    <% @results[:items].each do |item| %>
        <div class="row">
          <div class="ii" style="background-position: -<%= (item.id%100)*24 %>px -<%= (item.id/100).floor*24 %>px;"></div>
          <div class="item-title">
            <a href="/items/<%= item.id %>.html"><%= item.name_with_slot %></a>
          </div>
        </div>
    <% end %>
    <% @results[:mobs].each do |mob| %>
        <div class="row">
          <div class="ii mob-icon"></div>
          <div class="item-title">
            <a href="/mobs/<%= mob.id %>.html"><%= mob.name %></a>
            <span class="subscript"><%= mob.level %></span>
          </div>
        </div>
    <% end %>
    <% @results[:maps].each do |map| %>
        <div class="row">
          <div class="ii map-icon"></div>
          <div class="item-title">
            <a href="/maps/<%= map.id %>.html"><%= map.name %></a>
          </div>
        </div>
    <% end %>
    <% @results[:npcs].each do |npc| %>
        <div class="row">
          <div class="ii npc-icon"></div>
          <div class="item-title">
            <a href="/npc/<%= npc.id %>.html"><%= npc.name %></a>
            <a class="subscript" href="/maps/<%= npc.map.id %>.html?hl_npc=<%= npc.id %>"><%= npc.map.name %></a>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="norecords">Поиск не дал результатов.</div>
<% end %>
